/* criar-login.css */
.login-container {
    background-color: #6ec1ff;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.login-container h1 {
    color: white;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-size: 1.8rem;
}

.login-container input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 1rem;
}

.login-container input:focus {
    outline: none;
    border-color: #9371f9;
}

.submit-btn {
    background-color: white;
    color: #6ec1ff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #e8f7ff;
}

header {
    padding: 15px;
    background-color: #6ec1ff;
}

header .logo-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}

header .logo a {
    text-decoration: none; /* Remove o sublinhado do link */
    display: flex; /* Garante que a logo e o texto fiquem alinhados */
    align-items: center; /* Alinha a logo e o texto verticalmente */
}

header .logo a img {
    width: 40px; /* Tamanho da imagem da logo, ajustável conforme necessário */
    height: auto;
}

header .logo a:hover .logo-text {
    color: #e8f7ff; /* Muda a cor do texto ao passar o mouse */
}

header .prev-btn {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.prev-btn {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
