.prev-btn {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

.promotions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.promotion-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.promotion-card img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.promotion-card h3 {
    font-size: 16px;
    margin: 10px 0;
}

.promotion-card p {
    font-size: 14px;
    margin: 5px 0;
    color: #333;
}

.promotion-card .price {
    color: #E74C3C;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

.promotion-card .old-price {
    text-decoration: line-through;
    color: #999;
    font-size: 14px;
}

.add-to-cart {
    background-color: #4ABDF5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #3598DB;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 15vh;
    text-align: center;
    padding-top: 20px;
}

.centered-text {
    font-size: 2.5em;
    color: #333;
    margin: 0;
}

.header-links {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 20px;
}

.header-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
    background-color: #f4a261;
}

.header-links a:hover {
    color: #333;
    background-color: #e76f51;
    text-decoration: none;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 10px 200px 10px 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    background-color: #007bb5;
    border: none;
    padding: 8px 9px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-bar img {
    width: 16px;
    height: 16px;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding: 5px 0;
    border-top: 2px solid #007bb5;
    align-items: center;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.nav-menu a:hover {
    background-color: #f4a261;
    color: white;
    text-decoration: none;
}

.natal-section {
    text-align: center;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.banner {
    width: 50%;
    height: auto;
    margin: 20px 0;
    border-radius: 20px;
}

.prev-btn, .next-btn {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

.product-title {
    padding-left: 25px;
}

.product-grid {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 25px;
}

.product-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: auto;
}

.product-card img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 16px;
    margin: 10px 0;
}

.product-card p {
    font-size: 14px;
    margin: 5px 0;
    color: #333;
}

.product-card .price {
    color: #E74C3C;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

.add-to-cart {
    background-color: #4ABDF5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #3598DB;
}

.heart {
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: black;
    border: 2px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.heart:hover {
    background-color: #f7f7f7;
}

.heart.liked {
    background-color: red;
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 20px;
}

.header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #f4a261;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 14px;
    height: 40px;
    min-width: 100px;
    cursor: pointer;
}

.header-btn img {
    width: 20px;
    height: 20px;
}

.header-btn:hover {
    background-color: #e76f51;
}

.user-login {
    display: flex;
    align-items: center;
    gap: 10px;
}
